* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice-container {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.dice {
  position: relative;
  width: 50px;
  aspect-ratio: 1/1;
  margin: 10px 0;

  z-index: 1000;
}

.grid-container {
  /* width: 100%; */
  padding: 2rem;
}

.grid {
  border-collapse: collapse;
  margin-inline: auto;
  border: 5px solid black;
}

.cell {
  border: 1px solid black;
  position: relative;

  width: 55px;
  height: 55px;
  font-size: 0.8rem;

  /* To keep border visible */
  background-clip: padding-box;
  text-align: center;
}

.cell .cellId {
  position: absolute;
  font-size: 0.7rem;
  top: 5px;
  left: 5px;
}

.odd {
  background-color: rgb(118, 158, 130);
}

.even {
  background-color: rgb(143, 182, 166);
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.player-circle {
  /* fill:rgb(247, 239, 126); */
  stroke: #f7f6f6;
  stroke-width: 3px;
  stroke-linejoin: round;
  transition: 0.25s;
}
