* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 100vh;
  background-color: black;
}

.dice-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  color: white;
}

.dice {
	position: relative;
	width: 50px;
	aspect-ratio: 1/1;
	margin: 10px 0;
	z-index: 1000;
	background-color: #fff;

  border: 1px solid black;
	border-radius: 15px;
	font-size: 1.5rem;
	text-align: center;
	cursor: pointer;
	height: 50px;
	line-height: 50px;
}

.dice:disabled {
  cursor: default;
  color: black;
}

.grid-container {
  /* width: 100%; */
  /* padding: 2rem; */
}

.grid {
  border-collapse: collapse;
  margin-inline: auto;
  border: 5px solid black;
}

.cell {
  border: 1px solid black;
  position: relative;

  width: 9.25vw;
  height: 9.25vw;

  font-size: 0.2rem;

  /* To keep border visible */
  background-clip: padding-box;
  text-align: center;
}

.cell .cellId {
  position: absolute;
  font-size: 0.7rem;
  top: 5px;
  left: 5px;
}

.odd {
  background-color: rgb(118, 158, 130);
}

.even {
  background-color: rgb(143, 182, 166);
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.player-circle {
  /* fill:rgb(247, 239, 126); */
  stroke: #f7f6f6;
  stroke-width: 3px;
  stroke-linejoin: round;
  transition: 0.25s;
}

@media (min-width: 35em) {
  body {
    /* background-color: red; */
  }
}

@media (min-width: 45em) {
  .cell {
    width: 4vw;
    height: 4vw;
  }

  .dice-container {
    justify-content: center;
    gap: 5rem;
  }
}
